*.apk
*.html
*.xml
*.PNG
*.pyc
.vscode/launch.json
# mac
.DS_Store
downloads*
*pabot
*pabot_results
*.png
*.out
*appium-screenshot
.pabotsuitenames
testcases/.pabotsuitenames
testcases/application/.pabotsuitenames
